{% extends 'base.html' %}
{% block title %}注册用户{% endblock title %}
{% block content %}
<div class="container">
	<div class="row text-center">
		<h1>注册</h1>
		<p>如果您有账户，请<strong><a href="{% url 'account:login' %}">登录</a></strong>，谢谢</p>
            <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
			<div class="form-group">
				<label  for="{{ form.username.id_for_label }}" class="col-md-5 control-label">用户名：</label>
				<div class="col-md-6 text-left">
                    {{ form.username }}
				</div>
			</div>
            <div class="form-group">
				<label for="{{ form.email.id_for_label }}" class="col-md-5 control-label">电子邮箱：</label>
				<div class="col-md-6 text-left">
                    {{ form.email }}
				</div>
			</div>
			<div class="form-group">
				<label for="{{ form.password.id_for_label }}" class="col-md-5 control-label">密码：</label>
				<div class="col-md-6 text-left">
                    {{ form.password }}
				</div>
			</div>
            <div class="form-group">
				<label for="{{ form.password2.id_for_label }}" class="col-md-5 control-label">确认密码：</label>
				<div class="col-md-6 text-left">
                    {{ form.password2 }}
				</div>
			</div>
            <div class="form-group">
				<label for="{{ info.phone.id_for_label }}" class="col-md-5 control-label">电话号码：</label>
				<div class="col-md-6 text-left">
                    {{ info.phone }}
				</div>
			</div>
			<div class="form-group">
			    <div class="text-center">
			      <button type="submit" class="btn btn btn-primary btn-lg">注册</button>
			    </div>
			</div>
		</form>
	</div>
</div>
{% endblock content %}